/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  margin: 0;
  padding: 0;

  color: #AC5C83;
  font-family: space_monoregular, "Roboto Mono", monospace;
  background-image: url("../media/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

/* LINK STYLES */

a {
  color: #F696C5;
}

a:hover {
  color: #FFD6EA;
}

/*body * {  border: 1px solid red;}*/

#menuToggle {
  display: inline-block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: #FFD6EA;
}


#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #CA8CAA;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #F696C5;
  list-style-type: none;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

#mePicture {
  width: 80%;
  height: 80%;
  margin: 15% auto 0 auto;
  border-radius: 50%;
  display: block;
  border-style: solid;
  border-color: #F696C5;
}

#name {
  font-family: space_monoregular, "Roboto Mono", monospace;
  font-weight: normal;
  font-size: 22vw;
  width: 80%;
  margin: 5% auto 0 auto;
  color: #F696C5;
}

@font-face {
  font-family: 'space_monoregular';
  src: url('spacemono-regular-webfont.woff2') format('woff2'),
  url('spacemono-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

p {
  margin: 0;
}

#sideContent {
  width: 80%;
  font-size: 4vw;
  margin: 7% auto 0 auto;
  text-align: justify;
}

#aboutContent {
  display: none;
}

#projectsContent {
  display: none;
}

#experienceContent {
  display: none;
}

#photoContent {
  display: none;
}

#animeTable {
  margin: 5% 0 5% 0;
}

.animeImage {
  width: 8vw;
}

/* TABLE STYLES */

td {
  border-bottom: 1px solid #AC5C83;
}

td:nth-child(1) {
  column-width: 8vw;
}

td:nth-child(3) {
  text-align: right;
}

#projectsTable {
  margin-top: 5%;
}

#projectsTable td {
  padding: 1% 2% 2% 1%;
}

/* PHOTO GALLERY STYLES */

#photoGallery {
  
}

/* TABLET STYLES */

@media screen and (min-width: 600px) {

  /* applies to screens wider than 499px */
  body {
  }

  /* force the scroll bar to always show */
  html {
    overflow-y: scroll;
  }

  /* Hide the hamburger menu */
  #menuToggle input {
    display: none;
  }

  #menuToggle span {
    display: none;
  }

  /* Change hamburger nav to nav bar */
  #menu {
    display: flex;
    background: transparent;
    transform: none;
    padding: 5% 5% 0 5%;
    margin: 0 0 0 0;
    width: 90%;

    white-space: nowrap;
  }

  .menuItem {
    box-sizing: border-box;
    width: 90%;
    cursor: pointer;
  }

  #menu li {
    color: #F696C5;
    font-weight: bold;
    font-size: 3vw;
  }

  #menuToggle {
    display: flex;
    height: auto;
    position: static;
    top: 0;
    left: 0;

    justify-content: center;
  }

  #menuToggle a {
    color: #F696C5;
  }

  #mePicture {
    height: 37%;
    width: 37%;
    margin: 15% 0 0 5%;
    display: inline-block;
  }

  #name {
    font-size: 12vw;
    width: 45%;
    margin: 22% 10% 0 6.5%;
    color: #F696C5;
    display: inline-block;
    transition: visibility 0s, opacity 0.5s linear;
  }

  #content {
    display: flex;
  }

  #sideContent {
    width: 43%;
    font-size: 2vw;
    margin: 15% 0 0 7.3%;
  }

  .animeImage {
    width: 4vw;
  }

  td:nth-child(1) {
    column-width: 4vw;
  }
}

@media screen and (min-width: 700px) {
  #menu {
    padding: 3% 10% 0 10%;
    width: 80%;
  }

  #mePicture {
    height: 35%;
    width: 35%;
    margin: 10% 0 0 10%;
  }

  #name {
    font-size: 11vw;
    width: 40%;
    color: #F696C5;
    margin: 16% 10% 0 4.5%;
  }

  #sideContent {
    width: 40%;
    font-size: 1.8vw;
    margin: 10% 10% 0 4.5%;
  }
}

/* DESKTOP STYLES */

@media screen and (min-width: 1200px) {

  body {

  }

  #menu {
    padding: 2% 18% 0 18%;
    width: 64%;
  }

  #menu li {
    font-size: xx-large;
  }

  #mePicture {
    height: 27%;
    width: 27%;
    margin: 10% 0 0 18%;
  }

  #name {
    font-size: 8.5vw;
    width: 30%;
    color: #F696C5;
    margin: 16% 10% 0 4.5%;
  }

  #sideContent {
    width: 30%;
    font-size: 1.2vw;
  }
}
